@charset "UTF-8";

@media screen and (min-width: 762px){
    body{
        background-color: #b5e5f3;
       
    }
    body > main{
        background-color: white;
        width: 80vw;
        margin: auto;
    }
    table.pagina4{
        display: block;
        margin: auto;
        width: 70%;
     
    }
    span.material-symbols-outlined{
        display: none;
        
    }
    li{
       text-align: center;
        display:block;
        background-color: #7D5BA6;
        padding: 15px;
        border:1px solid #81C3D7;
    }
    footer{
        width: 80vw;
    }

}